@import "Ginkgo";

$maincolor: rgba(101, 60, 69, 1);
$deepBule: rgba(40, 44, 53, 1);
$deepGrey: rgba(70, 70, 70, 1);

html {
    font-size: 13px;
}

body {
    position: relative;

    display: inline-block;
    width: 100%;

    margin: 0;
    padding: 0;
    color: #505050;

    font-size: 13px;
    text-align: center;
    font-family:'Roboto', 'Noto Sans TC', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;

    background-color: white;
}

.mob_close {
  display: inline-block !important;

  @include range-width(0, 450px) {
    display: none !important;
  }
}

.mob_open {
  display: none !important;

  @include range-width(0, 450px) {
    display: inline-block !important;
  }
}

a, button {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

p {
  margin: 0;
}

.search-container {
  float: right;
}

input[type=text] {
  padding: 8px 10px;
  margin-top: 8px;
  font-size: 1rem;
  border: none;
  margin: 0;
  background-color: rgba(246, 246, 246, 1);
}

.search-container button {
  float: right;
  padding: 8px 10px;
  margin-right: 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background-color: rgba(246, 246, 246, 1);


  &:hover {
    background: #ccc;
  }
}


@media screen and (max-width: 450px) {
  .search-container {
    float: none;
  }

  .search-container button {
    float: none;
    display: inline-block;
    text-align: left;
    width: 45px;
    margin: 0;
    padding: 14px;
  }

  input[type=text] {
    border: 0;
    float: none;
    display: inline-block;
    text-align: left;
    width: calc(100% - 50px);
    margin: 0;
    padding: 14px;
  }
}


.backColorGrey {
  background-color: rgba(249, 249, 249, 1.00);
}

.backColorDeepBlue {
  background-color: rgba(45, 50, 61, 1.00);
}

.backColorLightYellow {
  background-color: rgba(242, 236, 231, 1.00);
}


.linkOutImg {
  display: inline-block;
  width: 100%;
  max-width: 510px;
  margin-top: 30px;
}

.fbIcon {
  display: inline-block;
  width: 30px;
  height: 30px;
  float: right;
}

.order_l {
    float: left;
}

.order_r {
    float: right;
}

.poBoxs {
  position: relative;
}

.pageBoard {
  display: inline-block;
  width: 100%;
  height: 40px;
  background-color: rgba(146, 113, 98, 1);
}

.allBoxs {
  display: inline-block;
  width: 100%;
  @include clearfix();

  &.mobNoSpace {
    @include range-width(0, 450px) {
      padding: 0;
    }
  }

  @include range-width(0, 450px) {
    padding: 0 15px;
  }
}

.widthBoxs {
  display: inline-block;
  width: 100%;
  max-width: 1004px;
  @include clearfix();

  &.mobNoSpace {
    @include range-width(0, 450px) {
      padding: 0;
    }
  }

  @include range-width(0, 450px) {
    padding: 0 15px;
  }
}


.borderBW {
  border-bottom: 1px solid white;
}

.borderBG {
  border-bottom: 1px solid #f0f0f0;
}



header {
  display: inline-block;
  width: 100%;
  max-width: 1004px;
  padding: 20px 0;
  @include clearfix();

  @include range-width(0, 450px) {
    padding: 10px 0;
  }
}

.logo {
  display: inline-block;
  width: 100%;
  max-width: 106px;
  float: left;
}

footer {
  display: inline-block;
  width: 100%;
  max-width: 1004px;
}

.headerR {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 150px);
  float: right;
  height: 45px;
}

.bannerBoxs {
  display: inline-block;
  width: 100%;
  height: 500px;
  background: url(../img/banner.png) center center;
  background-size: cover;

  @include range-width(0, 450px) {
    height: 430px;
  }
}

.bannerCentBox {
  // display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 490px;
  height: 500px;
  background-color: rgba(122, 79, 59, .8);
  float: left;

  @include range-width(0, 450px) {
    margin-left: 20px;
    max-width: 250px;
    height: 430px;
  }
  
  .bannerCent {
    display: inline-block;
    width: 100%;
    // height: 500px;
    padding: 0 55px;

    @include range-width(0, 450px) {
      padding: 0 20px;
    }
  }
}

.aList {
  display: inline-block;
  width: calc(100% / 4 - 30px * 3 / 4);
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;

  &.aNoBorder {
    border-bottom: 0;
  }

  @include range-width(0, 450px) {
    width: calc(100% / 2 - 30px * 1 / 2);

    &:first-child, &:nth-child(2){
      padding-top: 30px;
    }

    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }

  &:nth-child(4n+4) {
    margin-right: 0;
  }
}

.allvilBox {
  display: inline-block;
  width: calc(100% / 4 - 30px * 3 / 4);
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 2px dotted rgba(195, 177, 170, .5);

  &.aNoBorder {
    border-bottom: 0;
  }

  @include range-width(0, 450px) {
    width: 100%;

    &:first-child{
      padding-top: 30px;
    }
  }

  &:nth-child(4n+4) {
    margin-right: 0;
  }
}

.allvilCent {
  display: inline-block;
  width: 100%;
  position: relative;
  @include clearfix();

  .aClass {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 15px;
    background-color: white;
    font-size: 1.23rem;
    font-weight: 400;
    padding: 8px 15px;

    &:before {
      display: inline-block;
      content: attr(title);
      font-size: 1rem;
      font-weight: 300;
      margin-right: 5px;
    }
  }

  .aClassName {
    display: inline-block;
    width: 100%;
    padding: 6px 0;
    margin: 6px 0;
    font-size: 1.3rem;
    text-align: left;
    color: rgba(187, 168, 160, 255);
    @include transition(all .3s);
    
    &:hover, &:active {
      text-decoration: underline;
    }
  }

  .aYear {
    display: inline-block;
    background-color: rgba(195, 177, 170, 1);
    padding: 6px 13px;
    color: white;
    font-size: 1.15rem;
    font-weight: 400;
    float: left;
  }

  .aNum {
    display: inline-block;
    padding: 6px 13px;
    font-size: 1.15rem;
    font-weight: 400;
    float: left;
  }

  .aLink {
    display: inline-block;
    width: calc(100% / 4);
    padding: 6px 0;
    margin: 6px 0;
    font-size: 1.15rem;
    font-weight: 400;
    float: left;
    color: rgba(195, 177, 170, 1);
    @include transition(all .3s);
    
    &:hover, &:active {
      text-decoration: underline;
    }
  }
}

.homeNewsBoxs {
  display: inline-block;
  width: 100%;
  max-width: 1004px;
  padding: 65px 0;
}

.tagBox {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: rgba(173, 147, 136, 1);
  color: white;
  font-size: 1.53rem;
  font-weight: 500;
  line-height: 50px;
  float: left;

  &.mColor {
    background-color: $maincolor
  }
}  

.articleBox {
  display: inline-block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 20px;
  @include clearfix();
}

.newsBoxs {
  display: inline-block;
  width: calc(100% / 3 - 30px * 2 / 3);
  float: left;

  @include range-width(0, 450px) {
    width: 100%;
    margin-bottom: 30px;

    &:nth-child(n+5) {
      display: none;
    }
  }

  &:nth-child(3n+2) {
    margin: 0 30px;

    @include range-width(0, 450px) {
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 30px;
    }
  }

  &:nth-child(n+4) {
    margin-top: 30px;

    @include range-width(0, 450px) {
      margin-top: 0;
    }
  }
}

.voBoxs {
  display: inline-block;
  width: 100%;
  @include clearfix();
  padding: 15px 10px;

  &.voBgGrey {
    background-color: rgba(247, 247, 247, 1);
  }

  .voBoxsL, .voBoxsR {
    float: left;
    display: inline-block;
    font-size: 1.23rem;
    text-align: left;
    line-height: 1.5;
  }
  
  .voBoxsL {
    width: 20%;

    @include range-width(0, 450px) {
      width: 100%;
      padding-bottom: 5px;
    }
  }

  .voBoxsR {
    width: 80%;
    font-weight: 500;

    @include range-width(0, 450px) {
      width: 100%;
    }
  }
}

.aImg {
  display: inline-block;
  width: 100%;
  height: 60px;
}

.newsImg {
  display: inline-block;
  width: 100%;
  height: 195px;
  position: relative;

  .newsDay {
    display: inline-block;
    width: 50px;
    height: 50px;
    z-index: 777;
    position: absolute;
    top: 0;
    right: 20px;
    background-color: white;
    color: rgba(70, 70, 70, 1);
    font-size: 1.23rem;
    font-weight: 900;
    padding-top: 9px;
    line-height: 15px;

    &:before {
      display: inline-block;
      content: attr(title);
      font-size: 1rem;
    }
  }
}

.newsCent {
  display: inline-block;
  width: 100%;
  padding: 20px 0;
}

.linkBoxs {
  display: inline-block;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  @include clearfix();
  
  .linkBoxL {
    display: inline-block;
    width: calc(100% - 400px - 30px);
    float: left;

    @include range-width(0, 450px) {
      width: 100%;
    }
  }

  .linkBoxR {
    display: inline-block;
    width: 400px;
    float: right;
    background-color: rgba(150, 158, 155, 1);
    padding: 15px;

    @include range-width(0, 450px) {
      width: 100%;
      margin-top: 30px;
    } 
  }
}

.linkImg {
  display: inline-block;
  width: 100%;
  height: 455px;
}



// text
.i01 {
  font-style: normal;
  font-weight: 300;
}

.orderTitle {
  display: inline-block;
  width: 100%;
  font-size: 1.23rem;
  line-height: 40px;
  text-align: left;

  &:before {
    display: inline-block;
    content: attr(title);
    width: 40px;
    height: 40px;
    color: white;
    font-size: 2rem;
    font-weight: 900;
    background-color: #B79F94;
    text-align: center;
    margin-right: 10px;
  }
}

.bigTitleWhite {
  display: inline-block;
  width: 100%;
  color: white;
  text-align: left;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 900;

  @include range-width(0, 450px) {
    font-size: 1.6rem;
  }
}

.textWhite_20 {
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 1.53rem;
  text-align: left;
  padding-bottom: 15px;
  font-weight: 500;
}

.textWhite_14 {
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 1.07rem;
  text-align: left;
  line-height: 1.8;
}

.textWhite_13 {
  display: inline-block;
  color: white;
  font-size: 1rem;
}

.textBlack_26 {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
}

.textPageTitle_26 {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
}

.textBlack_16 {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
}

.textBlack_20 {
  display: inline-block;
  font-size: 1.53rem;
  color: $deepGrey;
  font-weight: 500;
  text-align: left;
}

.footerText {
  display: inline-block;
  color: white;
  font-size: 1.23rem;

  @include range-width(0, 450px) {
    font-size: 1.13rem;
    line-height: 1.5;
  }
}

.noteText {
  display: inline-block;
  font-size: 1.53rem;
  color: $deepBule;
  font-weight: 500;
  float: left;
  padding: 15px 0;
}

.nameText {
  display: inline-block;
  padding-top: 28px;
  font-size: 1.23rem;
  color: rgba(70, 70, 70, .6);
  float: right;

  &:before {
    display: inline-block;
    content: '———';
    margin-right: 5px;
  }
}

.newsTitle {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
  color: $maincolor;

  &:after {
    display: block;
    content: '';
    margin: 0 auto;
    width: 50px;
    height: 3px;
    background-color: rgba(150, 158, 155, 1);
    margin-top: 12px;
  }
}

.newsText {
  display: inline-block;
  width: 100%;
  font-size: 1.38rem;
  color: rgba(70, 70, 70, 1);
  text-align: left;
  font-weight: 500;
}

.newsCentText {
  display: inline-block;
  width: 100%;
  font-size: 1.23rem;
  color: rgba(70, 70, 70, 1);
  text-align: left;

  a {
    color: rgba(46, 128, 252, 1);

    &:hover, &:active {
      text-decoration: underline;
    }
  }
}

.linkTitle {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
  color: $maincolor;
  text-align: left;
  position: relative;

  &:after {
    display: inline-block;
    width: 88%;
    content: '';
    height: 2px;
    background-color: rgba(150, 158, 155, 1);
    position: absolute;
    right: 0;
    bottom: 6px;

    @include range-width(0, 450px) {
      width: 65%;
    }
  }
}

.centText {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 1.23rem;
  line-height: 1.8;
}

.votext_16 {
  display: inline-block;
  font-size: 1.23rem;
  float: left;
}

.votext_13 {
  display: inline-block;
  font-size: 1rem;
  float: right;

  @include range-width(0, 450px) {
    float: left;
    padding-top: 10px;
    text-align: left;
  }
}

.lH15 {
  line-height: 1.5;
}


// space
.p_td_70{
  padding: 70px 0;

  @include range-width(0, 450px) {
    padding: 35px 0;
  }
}

.p_t_30 {
  padding-top: 30px;
}

.p_t_70 {
  padding-top: 70px;

  @include range-width(0, 450px) {
    padding-top: 35px;
  }
}

.p_d_70 {
  padding-bottom: 70px;
}

.p_td_30 {
  padding: 30px 0;

  @include range-width(0, 450px) {
    padding: 15px 0;
  }
}

.p_td_1530 {
  padding-top: 15px;
  padding-bottom: 30px;
}

.p_td_15 {
  padding: 15px 0;
}

.p_lr_15 {
  padding: 0 15px;
}

.m_td_30 {
  margin: 30px 0;
}

.m_t_15 {
  margin-top: 15px;
}

.h65 {
  padding: 10px 15px;
}



// link
.bread {
  display: inline-block;
  font-size: 1rem;
  color: white;
  font-weight: 300;
  float: left;
  line-height: 40px;

  &:after {
    display: inline-block;
    content: '›';
    margin: 0 10px;
  }

  &:last-child {
    &:after {
      display: none;
    }
  }
}

.btnWhite {
  display: inline-block;
  padding: 15px 25px;
  font-size: 1.53rem;
  font-weight: 500;
  color: $maincolor;
  background-color: white;
  @include border-radius(3px);
  @include transition(all .3s);

  &:hover, &:active {
    background-color: rgba(255, 255, 255, .75);
  }

  @include range-width(0, 450px) {
    padding: 10px 25px;
    font-size: 1.23rem;
  }
}

.btnGrey {
  display: inline-block;
  padding: 15px 25px;
  font-size: 1.53rem;
  font-weight: 500;
  color: white;
  background-color: rgba(150, 158, 155, 1);
  @include border-radius(3px);
  @include transition(all .3s);

  &:hover, &:active {
    background-color: $maincolor;
  }

  @include range-width(0, 450px) {
    padding: 10px 25px;
    font-size: 1.23rem;
  }
}

.btnMain {
  display: inline-block;
  padding: 15px 25px;
  font-size: 1.53rem;
  font-weight: 500;
  color: white;
  background-color: $maincolor;
  @include border-radius(3px);
  @include transition(all .3s);

  &:hover, &:active {
    background-color: rgba(101, 60, 69, .75);
  }

  @include range-width(0, 450px) {
    padding: 10px 25px;
    font-size: 1.23rem;
  }
}

.linkBook {
  display: -webkit-box;
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 1.53rem;
  color: $deepGrey;
  font-weight: 500;
  text-align: left;
  @include transition(all .3s);
  margin-top: 15px;

  &:hover, &:active {
    color: $maincolor;
  }

  @include range-width(0, 450px) {
    font-size: 1.23rem;
  }
}

.linkMore {
  display: inline-block;
  float: right;
  font-weight: 300;
  font-size: 1.23rem;
  color: rgba(148, 148, 148, 1);
  @include transition(all .3s);

  &:hover, &:active {
    color: $maincolor;
  }
}

.m_menuLink {
    display: inline-block;
    width: 100%;
    text-align: right;
    float: left;
    color: #505050;
    font-size: 1.23rem;
    font-weight: 500;
    margin-right: 45px;
    padding: 20px 0;
    position: relative;
    @include transition(all .3s);
    border-bottom: 1px solid rgba(244, 239, 238, 1);
    padding-right: 20px;

    &:hover {
      background-color: rgba(244, 239, 238, 1);
    }
  }

.menuBoxs {
  display: inline-block;
  width: 100%;
  max-width: 1004px;
  @include clearfix();

  .menuLink {
    display: inline-block;
    text-align: left;
    float: left;
    color: #505050;
    font-size: 1.23rem;
    font-weight: 500;
    margin-right: 45px;
    padding: 20px 0;
    position: relative;

    &:hover {
      &:after {
        display: block;
        content: '';
        width: 100%;
        height: 5px;
        background-color: $maincolor;
        position: absolute;
        left: 0;
        bottom: 0;
      }
      // border-bottom: 5px solid;
    }
  }
}


// effect
// 手機Menu
.m_header_r {
  display: none;

  @include range-width(0, 450px) {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: 6px;
  }

  .icon-menu {
    font-size: 1.8rem;
    color: $maincolor;
  }
}

.m_menu {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: white;

  position: fixed;
  z-index: 9999;
  top: 0;
  right: -100%;
  @include transition(all .3s);
  

  @include range-width(0, 1040px) {
    display: inline-block;
  }

  &.menu_open {
    right: 0;
  }

  .menuBox {
    display: inline-block;
    width: 100%;
    height: 100vh;
    // position: relative;
    background: url(../image/m_menu_bg.svg)  bottom right no-repeat;
    -moz-background-size: cover;
    background-size: cover;
  }

  .menuClose {
    display: inline-block;
    width: 7%;
    float: right;
    font-size: 1.8rem;
    color: $maincolor;
    margin-top: 13px;
  }
}


:root {
  --swiper-theme-color: rgba(101, 60, 69, 1) !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  @include range-width(0, 450px) {
    width: 100%;
  }
  height: 260px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 210px !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.pretty-select {
  /*移除箭頭樣式*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*改變右邊箭頭樣式*/
  background: url("../img/arrow_drop.png") no-repeat right center transparent;
  
  border:0;
  outline: 0;
  // width:100%;
  height:34px;
  padding-left:5px;
  padding-right:40px;
  color:black;
  float: right;
  margin-left: 20px;

  @include range-width(0, 450px) {
    margin-left: 0;
    margin-right: 20px; 
  }
}

/*IE隱藏箭頭樣式*/
.pretty-select::-ms-expand { 
  display: none; 
}



